.ant-carousel .slick-slide {
  height: 355px;
  width: 100%;
  line-height: 250px;
  background: black;
  overflow: hidden;
  position: relative;
}

.ant-carousel .slick-slide h2 {
  color: white;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.ant-carousel .slick-slide img{
  height: 400px;
  width: 100%;
  line-height: 500px;
  align-self: center;
}

.buttons {
  position: absolute;
  color: white;
  background-color: transparent;
  top: 60%;
  left: 15%;
  transform: translate(-50%, -50%);
  border: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

#footer {

  height: 180px;
  width: 100%;
  background-color:black;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

input[type=text]{
  padding: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 200px;
  
}

#footer-content-left{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 100px;
}

#subscribe{
  background-color: #4CAF50;
  border: none;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  width: 120px;
  border-radius: 12px;
  color: white;
  align-self: center;
}

#footer-content-right h2{
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  width: 300px;
}

#social-icons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
